body
{
  margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}


.header
{


    background-color: #fff;

    width :100%;
 min-height: 100vh;

}

div.header img.back
{
    height: 674px;
    float:right;
    margin-top: 8%;
    margin-right: 5%;
}

nav ul li
{
    text-decoration: none;
    display: inline;
    float: right;
    margin-top: 10px;

}


@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');

a.nav-link
{
    color: black !important;
    font-size: 18px !important;
    font-weight: bold !important;

}



a.nav-link:hover
{
    opacity: 80%;
    filter:drop-shadow(0 0 0.75rem white);
}

.navbar-brand {
    color: #fff;
    font-size:25px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    letter-spacing:0.1em;
}
.navbar-brand img
{
    width: inherit;
    height: inherit;

}

.navbar-nav .nav-item .nav-link{
    padding: 1.1em 1em!important;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;


}


nav#banner
{
    border-bottom-color: black;
}



.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff;

}

.banner{

    text-align: center;
    color: #000;


}

.banner-text {
    padding: 20% 0px 150px 0;
    position: absolute;
    margin-right: 44%;
}

.banner-heading {
    font-family: Roboto, sans-serif;
    font-size: 55px;
    /*font-weight: 700;
    line-height: 120px;*/
    margin-bottom: 25px;
    color: #000;
    letter-spacing: 5px;
}
.banner-sub-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
   /* font-weight: 280;*/
    line-height: 30px;
    margin-bottom: 50px;
    color: #000;
}

/*______________Button_______________*/
.styled
{
    background-color: #06d19c;
    color:#fff;
    border-radius: 10px;
    width: 205px;
    height: 55px;
    margin-top: 2%;
    font-family: 'Public Sans', sans-serif;

    font-size: small;
}

/*______________ARROW___________*/
.arrow {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUE6ZOY95QnhfVhOZq5WXjfKAYG_eQgQSsSimpc50jGUgRujeP');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;



    white-space: nowrap;
    font-size: 4rem;
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    transform: translateY(0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 750ms ease-in-out;
    -ms-transition: all 750ms ease-in-out;
    -o-transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
    color: black;
}

/* this sets the position of the arrow when it's up, so it will move up or down by 14px when you add or remove this class */
.lift {
    transform: translateY(14px);
    color: black;
}

.display
{
    display: none;
}

/*___________Section Article______*/
section.Article
{
    background-color: grey;
   height: 930px;
    text-align: center;
}

h1
{
    margin-top: 10%;
}

div.banner-sub-heading h1
{
    font-weight: inherit;
}

div.definition
{
    background-color: white;
    width: 100%;
    height: 460px;
    display: flex;

}
div.bienfaits
{
    background-color: #ffffff;
    width: 100%;
    height: 470px;
    display: flex;
}

div.definition_illustration
{
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
}
div.definition_article
{
    padding: 33px 164px;
    background-color: white;
    margin-top: 6%;
}

div.definition_article h2, div.bienfaits_article h2
{
    font-size: 25px;
    margin-bottom: 28px;
}

 p
{
    font-family: 'Roboto', sans-serif;
     font-size:18px;

}

 p.citation
 {
     font-size: 15px;
 }

div.bienfaits_illustration
{
    width: 50%;
    height: 100%;
    background-color: white;
}


div.bienfaits_article
{
    width: 50%;
    height: 100%;
    background-color: white;

    padding: 55px 128px;
}




/*________Section Newsletter_________*/
section.newsletters
{
    background-color: whitesmoke;
    width: 100%;
    height: 460px;
    display: flex;
}

div.newsletter_illustration,div.newsletter_formulaire
{
    width: 50%;
    height: 100%;
    background-color: #FFF;
   /* background-image: url("happynews.svg");
    background-repeat: no-repeat;
   background-size: 600px;*/

}

div.newsletter_illustration img, div.definition_illustration img, div.bienfaits_illustration img
{
    height: 400px;
    margin: 5% 10% ;
}

/*__________Formulaire_________*/
.form
{width:340px;
    height:440px;
    margin: 27% auto;

    padding:20px 30px;max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative
}
h2
{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;color:#78788c;
    border-bottom:3px solid #78788c
}
input
{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;outline:none;
    resize:none;border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}



button:hover{background:#78788c;color:#fff}

/*____________Responsive____________*/
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 360px)

{
    .header {
        background-color: #fff;
        width: 100%;
        /* min-height: 68vh; */
        width: 129%;
    }
}

    /* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
    @media all and (min-width: 1024px) and (max-width: 1280px)
    {}

        /* Sur les téléviseurs */
        @media tv
        {

        }

            /* Sur tous types d'écrans orientés verticalement */
            @media all and (orientation: portrait)
            {
                div.header img.back
                {
                    height: 580px;
                    float: right;
                    margin-top: 8%;
                    /* margin-right: 5%; */
                    /* margin-left: 26%; */
                }

                .banner-heading
                {
                    font-family: Roboto, sans-serif;
                    font-size: 32px;
                    margin-bottom: 25px;
                    color: #000;
                    letter-spacing: 5px;
                }
                .header {
                    background-color: #fff;
                    width: 100%;
                    height: 100px;
                    /* min-height: 68vh; */
                    min-height: 660px;
                }

                div.definition_illustration
                {
                   display: none;
                }

                div.bienfaits_article {
                    width: 50%;
                    height: 100%;
                    background-color: white;
                    padding: 55px 24px;
                }

                section.newsletters
                {
                    margin-top: 5%;
                }

                .arrow, .lift
                {
                    display: none;
                }
            }
